[Unit]
Description=SMTP Proxy
After=network.target

[Service]
User=lilli
WorkingDirectory=/opt/lilli
ExecStart=/opt/lilli/lilli -c ./etc/lilli.conf
AmbientCapabilities=CAP_NET_BIND_SERVICE
SyslogIdentifier=lilli
SyslogFacility=mail
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
