[Unit]
Description=SMTP Proxy
After=network.target

[Service]
User=willi
WorkingDirectory=/opt/willi
ExecStart=/opt/willi/willi -c ./etc/willi.conf
AmbientCapabilities=CAP_NET_BIND_SERVICE
SyslogIdentifier=willi
SyslogFacility=mail
Restart=on-failure
RestartSec=5s


[Install]
WantedBy=multi-user.target
